---
layout: default
title: Курсы
description: Наши курсы научат вас новому
status: website
permalink: health/
---

<div class="container-main">

  <div class="card-wrapper">

    {% for post in site.categories.health %}
    <div class="card card-one">

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="https://placehold.it/400x300" alt="">
        </a>
      </div>

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag"><a href="">Теги</a></span>
      </div>

    </div><!-- /.card-one -->
    {% endfor %}

  </div><!-- /.card-wrapper -->
</div><!-- /.container-main -->