---
layout: default
---

<div class="container-main">

  <div class="container-main__title">

    <h1>У вас сегодня вау или фейл?</h1>

    <p>В любом случае, вы попали по адресу. Курсы и обучающие программы, все самое трендовое в сети.</p>
    
  </div><!-- /.container-main__title -->

  <div class="card-wrapper">

    {% for post in site.posts limit:1 %}
    <div class="card card-one">

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="{{ post.image-teaser }}" alt="{{ post.title }}" width="450" height="300">
        </a>
      </div>

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag"><a href="">Теги</a></span>
      </div>

    </div><!-- /.card-one -->
    {% endfor %}

    {% for post in site.posts limit:1 offset:1 %}
    <div class="card card-two">

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="{{ post.image-teaser }}" alt="{{ post.title }}" width="450" height="300">
        </a>
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag"><a href="">Теги</a></span>
      </div>

    </div><!-- /.card-two -->
    {% endfor %}

    {% for post in site.posts limit:1 offset: 3 %}
    <div class="card card-one">

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="https://placehold.it/350x400" alt="">
        </a>
      </div>

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag"><a href="">Теги</a></span>
      </div>

    </div><!-- /.card-one -->
    {% endfor %}

    {% for post in site.posts limit:1 offset:1 %}
    <div class="card card-two">

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="https://placehold.it/350x400" alt="">
        </a>
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag"><a href="">Теги</a></span>
      </div>

    </div><!-- /.card-two -->
    {% endfor %}

    {% for post in site.posts limit:1 offset: 4%}
    <div class="card card-one">

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="https://placehold.it/350x400" alt="">
        </a>
      </div>

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag"><a href="">Теги</a></span>
      </div>

    </div><!-- /.card-one -->
    {% endfor %}

    {% for post in site.posts limit:1 offset:1 %}
    <div class="card card-two">

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="https://placehold.it/350x400" alt="">
        </a>
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag"><a href="">Теги</a></span>
      </div>

    </div><!-- /.card-two -->
    {% endfor %}


  </div><!-- /.card-wrapper -->

</div><!-- /.container-main -->


{% include subscribe.html %}


<div class="container-main">

  <div class="card-wrapper">

    {% for post in site.posts limit:3 %}
    <div class="card card-one">

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="https://placehold.it/350x400" alt="">
        </a>
      </div>

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag"><a href="">Теги</a></span>
      </div>

    </div><!-- /.card-one -->
    {% endfor %}

    {% for post in site.posts limit:3 offset:1 %}
    <div class="card card-two">

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="https://placehold.it/350x400" alt="">
        </a>
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag"><a href="">Теги</a></span>
      </div>

    </div><!-- /.card-two -->
    {% endfor %}

  </div><!-- /.card-wrapper -->

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  <p><a href="#top">Наверх</a></p>

</div><!-- /.container-main -->