---
layout: default
---

<div class="container-main">

  <div class="container-main__title">

    <h1>Заголовок основной</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    
  </div><!-- /.container-main__title -->

  <div class="card-wrapper">

    {% for post in site.posts limit:1 %}
    <div class="card card-one">

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="https://placehold.it/400x300" alt="">
        </a>
      </div>

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag"><a href="">Теги</a></span>
      </div>

    </div><!-- /.card-one -->
    {% endfor %}

    {% for post in site.posts limit:1 offset:1 %}
    <div class="card card-two">

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="https://placehold.it/400x300" alt="">
        </a>
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag"><a href="">Теги</a></span>
      </div>

    </div><!-- /.card-two -->
    {% endfor %}

    {% for post in site.posts limit:1 offset: 4%}
    <div class="card card-one">

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="https://placehold.it/400x300" alt="">
        </a>
      </div>

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag"><a href="">Теги</a></span>
      </div>

    </div><!-- /.card-one -->
    {% endfor %}

    {% for post in site.posts limit:1 %}
    <div class="card card-three">

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="https://placehold.it/400x350" alt="">
        </a>
      </div>

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag"><a href="">Теги</a></span>
      </div>

    </div><!-- /.card-three -->
    {% endfor %}

    {% for post in site.posts limit:1 offset:1 %}
    <div class="card card-two">

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="https://placehold.it/400x300" alt="">
        </a>
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag"><a href="">Теги</a></span>
      </div>

    </div><!-- /.card-two -->
    {% endfor %}

    {% for post in site.posts limit:1 offset: 4%}
    <div class="card card-one">

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="https://placehold.it/400x300" alt="">
        </a>
      </div>

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag"><a href="">Теги</a></span>
      </div>

    </div><!-- /.card-one -->
    {% endfor %}


  </div><!-- /.card-wrapper -->

  {% include subscribe.html %}

  <div class="card-wrapper">

    {% for post in site.posts limit:4 %}
    <div class="card card-four">

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="https://placehold.it/400x300" alt="">
        </a>
      </div>

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag"><a href="">Теги</a></span>
      </div>

    </div><!-- /.card-four -->
    {% endfor %}

  </div><!-- /.card-wrapper -->

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  <p><a href="#top">Наверх</a></p>

</div>