---
layout: default
title: Woow Fail - все о заработке в сети
description: Мы расскажем как заработать онлайн, имея только компьютер и выход в интернет. Все самое трендовое и хайповое. На чем заработать прямо сейчас? Выбери подходящий курс и начни зарабатывать. Или изучи наши обзоры различных методик и сделай все сам. Удачи!
status: website
---

<div class="container-main">

  <div class="container-main__title">

    <h1>У вас сегодня ваау или фейл?</h1>

    <p>Все о заработке в сети. Курсы и обучающие программы, все самое трендовое в сети. Пусть всегда будет ваау!</p>
    
  </div><!-- /.container-main__title -->

  <div class="card-wrapper">

    {% for post in site.categories.course limit:6 %}
    <div class="card card-one">

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="{{ post.image-teaser }}" alt="{{ post.title }}" width="450" height="300">
        </a>
      </div>

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag">{{ post.tag }}</span>
      </div>

    </div><!-- /.card-one -->
    {% endfor %}

  </div><!-- /.card-wrapper -->

</div><!-- /.container-main -->


{% include subscribe.html %}


<div class="container-main">

  <div class="card-wrapper">

    {% for post in site.categories.review limit:6 %}
    <div class="card card-two">

      <div class="card-body">
        <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
        {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
      </div>

      <div class="card-hero">
        <a href="{{ post.url }}">
          <img src="{{ post.image-teaser }}" alt="{{ post.title }}">
        </a>
      </div>

      <div class="card-footer">
        <span class="card__type">{{ post.type }}</span>
        <span class="card__tag">{{ post.tag }}</span>
      </div>

    </div><!-- /.card-two -->
    {% endfor %}

  </div><!-- /.card-wrapper -->

</div><!-- /.container-main -->