<div class="top-button">
  <a class="btn btn--top" href="#top">НАВЕРХ</a>
</div>

<footer class="site-footer">

  <div class="container-footer">

    <div class="footer__copyright">
      <div class="footer__brand">
        <a href="/index.html">{{ site.title }}</a>
      </div>
      <div class="footer__description">
        <p>Все о заработке в сети. Мы собираем со всего интернета самые интересные материалы, которые научат вас чему-то новому, откроют широкие горизонты, позволят увидеть то, что было скрыто.</p>
        <p>Спасибо <a href="#">Freepick</a> и <a href="#">Unsplash</a> за картинки.</p>
      </div>
    </div>

    <div class="footer__contact">
      <h5>Контакты</h5>
      <p>Пишите нам:</p>
      <p><a href="mailto:support@woow.fail">Support@woow.fail</a></p>
      <p class="rss-subscribe">Подписаться на <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>
      <p>Сделано с <i class="far fa-heart"></i></p>
    </div>

    <div class="footer__social">
      <h5>Мы в сетях</h5>

      <span>
        <a href=""><i class="fab fa-telegram fa-2x"></i></a>
        <a href=""><i class="fab fa-vk fa-2x"></i></a>
        <a href=""><i class="fab fa-instagram fa-2x"></i></a>
      </span>

    </div>

    <div class="footer__authors-opinion">
      <p>Вся информация, представленная на сайте носит исключительно информационный характер, является частным мнением авторов и находится под защитой закона об авторских правах. Перепечатка материалов возможна с указанием ссылки на источник.</p>
    </div>

  </div><!-- /.container-footer -->

</footer>
