<footer class="site-footer">

  <div class="container-footer">

    <div class="one">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo esse accusamus eum ad, soluta, praesentium repellendus corrupti velit ex corporis doloremque, a natus tempore omnis, voluptas hic voluptate cum culpa!</p>
    </div>

    <div class="two">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo esse accusamus eum ad, soluta, praesentium repellendus corrupti velit ex corporis doloremque, a natus tempore omnis, voluptas hic voluptate cum culpa!</p>
    </div>

    <div class="three">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo esse accusamus eum ad, soluta, praesentium repellendus corrupti velit ex corporis doloremque, a natus tempore omnis, voluptas hic voluptate cum culpa!</p>
    </div>

  </div><!-- /.container-footer -->

</footer>
