.btn {
  display: inline-block;
  width: 200px;

  padding: 5px 16px;
  margin-bottom: 10px;
  
  border: none;
  border-radius: 20px;
  
  text-transform: uppercase;
  text-decoration: none;

  color: #fff;
  background-color: #53aba2;

  text-align: center;
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),
    0 1px 7px 0 rgba(0,0,0,0.12),
    0 3px 1px -1px rgba(0,0,0,0.2);

    transition: all 0.4s;
    background-color: #2bbbad;
  }
}

.btn-post {

}

.btn--pink {

}