.btn {
  display: inline-block;
  width: 200px;

  padding: 7px 16px;
  margin-bottom: 20px;
  
  border: 2px solid #4B4F56;
  border-radius: 5px;
  
  text-transform: uppercase;
  text-decoration: none;

  font-weight: 600;
  color: $text-color;
  background-color: transparent;

  text-align: center;
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),
    0 1px 7px 0 rgba(0,0,0,0.12),
    0 3px 1px -1px rgba(0,0,0,0.2);

    transform: translate(0,-5px);

    transition: all 0.4s;
    background-color: $text-color;
    color: $white-color;
  }
}

.btn--buy {
  border-color: $brand-color;
  background-color: $brand-color;
  color: $white-color;

  &:hover {
    background-color: $white-color;
    color: $brand-color;
  }
}

.btn--more {
  border-color: $brand-color;
  background-color: $white-color;

  &:hover {
    background-color: $brand-color;
    color: $white-color;
  }
}

.top-button {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;

  text-align: center;
}

.btn--top {
  max-width: 150px;
  box-sizing: border-box;
  
  border-color: #03a9f4;
  background-color: $white-color;
  color: $brand-color;

  &:hover {
    background-color: $white-color;
    color: $brand-color;
  }
}