// body:not([class]) {
//   margin: calc(24px + 4vh) calc(10px + 4vw);
// }

.container-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

  max-width: 1800px;
  margin: 0 auto;
  padding: 10px;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;

  max-width: 1800px;
  margin: 0 auto;

  padding: 10px;
  padding-top: 20px;
}

.container-main {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;

  padding: 10px;
}

.container-main__title {
  padding-top: 40px;
  padding-bottom: 20px;

  margin: 20px;

  h1 {

  }

  p {
    font-size: 20px;
    color: #90949C;
  }
}

.container-post {
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 30px;

  padding: 10px;
}

.container-related-post {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;

  padding: 10px;
}