.menu-top {

  .navbar__active {

    a {
      color: $brand-color;
    }
  } 

}

.menu-top__ul {
  display: none;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 15px;
    
    list-style: none;

    &:last-child {
      margin-right: 0;
    }

    a {
      text-decoration: none;
      
      color: $grey-color;
      font-size: 22px;
      transition: all 0.4s;

      &:hover {
        color: $brand-color;
        transition: all 0.4s;
      }
    }
  }
}

.menu-top__ul-mobile {
  display: none;

  padding: 0;

  li {
    margin-bottom: 15px;
    
    list-style: none;

    a {
      text-decoration: none;
      color: $grey-color;
      transition: all 0.4s;

      &:hover {
        text-decoration: underline;
        color: $brand-color;
        transition: all 0.4s;
      }
    }
  }
}

.menu-toggle {

  cursor: pointer;
  color: $grey-color;

  span:first-child {
    display: block;
  }

  span:last-child {
    display: none;
  }
}

.menu-toggle--close {
  span:first-child {
    display: none;
  }

  span:last-child {
    display: block;
  }
}

.menu-top__ul-mobile--open {
  display: block;
}