.post {

}

.post__hero-img {
  margin-bottom: 20px;

  img {
    margin: 0 auto;
  }
}

.post__second-img {
  max-width: 1600px;

  margin-top: 30px;
  margin-bottom: 30px;

  p {
    max-width: 1600px;
    margin: 0 auto;

    img {
      margin: 0 auto;
    }
  }
}

.post__header-image-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  max-width: 1200px;
  margin: 0 auto;

  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 80px;

  .post__header-left {
    padding: 0;
    margin-bottom: 10px;

    width: 100%;

    img {
      margin: 0 auto;
      object-fit: cover;
    }
  }

  .post__header-right {
    padding: 0;

    width: 100%;
  }
}

.post__header-image-top {
  margin-bottom: 30px;

  .post__header-image {
    margin-bottom: 20px;
  }

  .post__header-info {

  }
}

.post__information {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 25px;

  color: $grey-color;

  span {
    margin-right: 10px;
  }

  .post__tag {
    display: block;
    margin-top: 5px;
  }
}

.post__title {
  max-width: 800px;
  margin: 0 auto;

  margin-bottom: 30px;
  font-size: 56px;
}

.post__description {
  max-width: 800px;
  margin: 0 auto;

  font-size: 36px;
}

.post__category {

}

.post__date {

}

.post__type {

}

.post__read-time {

}

.post__content {

  .post__block {
    max-width: 1600px;

    padding-top: 20px;
    padding-bottom: 0;
  }

  .post__block--hero {
    padding-top: 20px;
    padding-bottom: 0;

    background-color: $highlighting-aliceblue;
    
    .post__wrapper {
      p {
        font-size: 28px;
      }
    }
  }

  .post__block--highlighting-aliceblue {
    background-color: $highlighting-aliceblue;
  }

  .post__block--highlighting-pink {
    background-color: $highlighting-pink;
  }

  .post__block--highlighting-lightblue {
    background-color: $highlighting-lightblue;
  }

  .post__wrapper {
    max-width: 800px;
    margin: 0 auto;

    padding: 10px;

    ul, ol {
      font-size: 22px;

      li {

      }
    }

    h2 {

    }

    h3 {

    }

    p {
      font-size: 24px;
    }

    blockquote {

    }

    code {

    }

    figure {

    }

    img {

    }
  }

  .post__button {
    max-width: 550px;
    margin: 0 auto;

    padding-left: 10px;
    padding-right: 10px;

    p {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}


.post__title-related {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;

  h3 {

  }
}